# Supabase Configuration
VITE_SUPABASE_URL=https://ngjdabixjukestieomsg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5namRhYml4anVrZXN0aWVvbXNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5OTQ2OTUsImV4cCI6MjA5MzU3MDY5NX0.VGSONO2VsO0r5nZts3pui2afZb-l_ah2-4N6kGwNZN8

CLOUDINARY_CLOUD_NAME=dzussloo4
CLOUDINARY_API_KEY=932994997364567
CLOUDINARY_API_SECRET=FIMqdTNyIdXoPOCNQjE8euoJ2oc
